.git/
.github/
.gitignore
.env
images/
README.md

clientA/node_modules/
clientA/dist/
clientA/.angular/
clientA/.vscode/

LanguageCard/target/
LanguageCard/docker-compose.yml
LanguageCard/src/main/resources/static/

docker-compose.yml
Dockerfile
.dockerignore
