<div class="input-group mb-3">
  <input class="form-control" type="text" [(ngModel)]="card.word" placeholder="Card word" />
  @if (card.id === 0) {
    <button (click)="pressButton()" class="btn btn-warning">Add a new word</button>
  } @else {
    <button (click)="saveEdit()" class="btn btn-primary">Save</button>
    <button (click)="canselEdit()" class="btn btn-secondary">Cansel</button>
    <button (click)="pressDelete()" class="btn btn-danger">Delete</button>
  }
</div>
<table class="table table-light table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Word</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (cardItem of cards(); track cardItem.id) {
      <tr>
        <td>{{ cardItem.id }}</td>
        <td>
          {{ cardItem.word }}
        </td>
        <td>
          <button (click)="startEdit(cardItem)" class="btn btn-success">Change</button>
        </td>
      </tr>
    }
  </tbody>
</table>

